body {
  font-family: Consolas, monospace;
  margin: 20px;
  background-color: #222;
  color: #ddd;
}

h1 {
  text-align: center;
  color: #00ff00;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#searchBox {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #555;
  background-color: #333;
  color: #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #00ff00;
  color: #222;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00aa00;
}

.results-container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
}

.solution-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #555;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.solution-item:hover {
  background-color: #444;
}

.solution-name {
  font-weight: bold;
  color: #00ff00;
  margin-bottom: 5px;
}

.solution-pricing {
  font-size: 14px;
  color: #aaa;
}

.all-solutions-container {
  margin-top: 20px;
  max-width: 800px; /* Adjust the maximum width as needed */
  margin-left: auto;
  margin-right: auto;
  padding: 1px 1px; /* Add some padding for smaller screens */
}

.solutions-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.solutions-table th,
.solutions-table td {
  padding: 12px;
  border: 1px solid #555;
  text-align: left;
  font-size: 16px; /* Increased font size for better readability */
}

.solutions-table th:nth-child(1), /* Name column */
.solutions-table td:nth-child(1) {
  width: 40%; /* Adjust the width as needed */
}

.solutions-table th:nth-child(2), /* Pricing column */
.solutions-table td:nth-child(2) {
  width: 60%; /* Adjust the width as needed */
}

.solutions-table th {
  background-color: #333;
  color: #00ff00;
}

.solutions-table tbody tr:nth-child(odd) {
  background-color: #333;
}

.solutions-table tbody tr:hover {
  background-color: #444;
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }

  #searchBox {
    width: 96%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

h1.title {
  margin-bottom: 0px;
}

p.subtitle {
  text-align: center;
  font-size: small;
  font-style: italic;
  margin-top: 6px;
}

.loading {
  text-align: center;
  display: none;
}

.model-time {
  text-align: center;
  font-size: small;
  font-style: italic;
}
